<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ewk.Extensions" version="1.1.4759.21149" targetFramework="net45" />
  <package id="Ewk.SoundCloud.ApiLibrary" version="1.1.4809.41996" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.21" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.21" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.21" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.21" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.21" targetFramework="net45" />
  <package id="taglib" version="2.1.0.0" targetFramework="net45" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net45" />
</packages>